<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heding</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nisi animi,
      earum reiciendis maiores nobis perferendis harum exercitationem deserunt
      accusantium!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heding</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nisi animi,
        earum reiciendis maiores nobis perferendis harum exercitationem deserunt
        accusantium!
      </p>
    </header>
  </div>
</section>
